<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">게시글 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<h1 th:text="${post.title}">게시글 제목</h1>

<div>
    <span>작성자: </span><span th:text="${post.authorNickname}">작성자</span> |
    <span>작성일: </span><span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">작성일</span> |
    <span>조회수: </span><span th:text="${post.viewCount}">0</span>
</div>

<hr>
<div style="white-space: pre-wrap;" th:text="${post.content}">
    게시글 내용
</div>
<hr>

<div>
    <button class="like-btn"
            data-type="post"
            th:data-id="${post.postId}"
            th:data-liked="${isPostLiked}"
            th:text="${isPostLiked ? '좋아요 취소' : '좋아요'}">좋아요
    </button>
    <span th:text="${post.likeCount}">0</span>
</div>

<div class="comments-section">
    <h3>댓글 <span th:text="${comment.totalElements}">0</span>개</h3>

    <ul class="comment-list">
        <li th:each="c : ${comment.content}">
            <div>
                <strong th:text="${c.authorNickname}">댓글 작성자</strong>
                <span th:text="${#temporals.format(c.createdAt, 'yyyy-MM-dd HH:mm')}">0000-00-00 00:00</span>
            </div>
            <p th:text="${c.content}">댓글 내용입니다</p>
            <div>
                <button class="like-btn"
                        data-type="comment"
                        th:data-id="${comment.commentId}"
                        th:attr="data-liked=${comment.isLiked}"
                        th:text="${comment.isLiked ? '좋아요 취소' : '좋아요'}">좋아요
                </button>
                <span th:text="${comment.likeCount}">0</span>
            </div>
        </li>
    </ul>

    <div class="pagination" th:if="${comment.totalPages > 1}">
        <a th:if="${comment.hasPrevious()}"
           th:href="@{/posts/{postId}(postId=${post.postId}, page=${comment.number - 1})}">이전</a>

        <span th:each="pageNumber : ${#numbers.sequence(0, comment.totalPages - 1)}">
            <strong th:if="${pageNumber == comment.number}" th:text="${pageNumber + 1}">1</strong>
            <a th:if="${pageNumber != comment.number}"
               th:href="@{/posts/{postId}(postId=${post.postId}, page=${pageNumber})}"
               th:text="${pageNumber+1}">2</a>
        </span>

        <a th:if="${comment.hasNext()}"
           th:href="@{/posts/{postId}(postId=${post.postId}, page=${comment.number+1})}">다음</a>
    </div>
</div>

<div class="comment-form">
    <form id="commentForm">
        <textarea name="content" rows="3" placeholder="댓글 내용을 입력하세요."></textarea>
        <button type="submit">댓글 작성</button>
    </form>
</div>

<script defer th:src="@{/js/comment-like.js}"></script>
<script defer th:src="@{/js/post-like.js}"></script>
</body>
</html>